h1{
    color:cornflowerblue;
}

body{
    background-color: lightyellow;
}

header{
    text-align: center;
}

.form {
	width: 800px;
	margin: 50px auto 20px;
}

#todoInput {
	width: 95%;
    border: none;
    outline:none;
    font-size:2em;
    border-bottom: 1px solid #34495e;
}

.list {
	width: 800px;
	margin: 0 auto;
}

.done{
    text-decoration: line-through;
    color: lightslategray;

}

.task:hover {
	background: rgba(0, 0, 0, .06);
	cursor: pointer;
}

.task:hover span{
	opacity: 1;
}

li{
    margin-bottom: 11px;
}

li span{
    float: right;
    color:black;
    transition: all 0.3s;
    opacity: 0;
}

li span:hover{
    color:red;
    font-weight:bold;
    font-size:1.2em;
}